@tailwind base;
@tailwind components;
@tailwind utilities;

/**********STATIC COLORS**********/
:root {
  --black: #000000;
  --white: #f3f4f594;
  --bg: #020b15;
  --secondary: #ffea00;
  hyphens: auto;
}
/**********STATIC COLORS**********/

/* Smooth scroll */
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Setting background color for content overscrolling*/
body {
  background-color: var(--bg);
}

.main-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.flow-text {
  font-size: 1rem;
}

.subline-text {
  font-size: 1.1rem;
}

.head-text {
  font-size: 1.7rem;
}

@layer utilities {
  @media only screen and (max-width: 768px) and (min-height: 690px) {
  }

  @media only screen and (max-width: 768px) and (min-height: 800px) {
  }

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1024px) {
    .main-padding {
      padding-left: 80px !important;
      padding-right: 80px !important;
    }
  }

  @media only screen and (min-width: 1280px) {
    .main-padding {
      padding-left: 134px !important;
      padding-right: 134px !important;
    }
  }

  @media only screen and (min-width: 1366px) {
  }

  @media only screen and (min-width: 1440px) {
  }

  @media only screen and (min-width: 1536px) {
  }

  @media only screen and (min-width: 1600px) {
    .main-padding {
      padding-left: 350px !important;
      padding-right: 350px !important;
    }
  }

  @media only screen and (min-width: 1920px) {
    .flow-text,
    .subline-text {
      font-size: 1.5rem !important;
    }
    .head-text {
      font-size: 1.9rem !important;
    }
    .main-padding {
      padding-left: 350px !important;
      padding-right: 350px !important;
    }
  }

  @media only screen and (min-width: 2560px) {
    .main-padding {
      padding-left: 800px !important;
      padding-right: 800px !important;
    }

    .head-text {
      font-size: 2.3rem !important;
    }

    .flow-text {
      font-size: 1.5rem !important;
    }
  }

  @media only screen and (min-width: 3440px) {
    .main-padding {
      padding-left: 600px !important;
      padding-right: 600px !important;
    }
  }

  a {
    cursor: pointer;
    transition: 0.3s;
  }

  a:hover {
    color: var(--secondary);
  }

  .imprint h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px 0;
  }

  .imprint h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0;
  }
  .imprint h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 30px 0;
  }

  .imageContainer > span {
    position: unset !important;
  }

  .image_ {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  .bounce-arrow {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  .blink-text {
    -moz-animation: blink 3s infinite;
    -webkit-animation: blink 3s infinite;
    animation: blink 3s infinite;
  }
  @-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes blink {
    0%,
    20%,
    50%,
    80%,
    100% {
      opacity: 0.05;
    }
    40% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.1;
    }
    80% {
      opacity: 1;
    }
  }

  .blendi {
    mix-blend-mode: exclusion;
  }
}
